---
title: Subscribe
description: Get bombarded with constant of the best writing in the world directly to your email
order: [ 2, 4, 1, 3 ]
comment-demon: i aint signing up to no spam
comment-daisy: I love it! Can't wait to read your next story 
comment-goose: the form isnt working for me
comment-willis: I advise no one to sign up to this form. Your information will not be safe!
---
{% include head.html %}
{% include header.html %}
<div class="posts">
    <h1>{{ page.title }}</h1>
    <time>{{ "today" | date: "%B %-d, %Y" }}</time>
    <span class="description">{{ page.description }}</span>
    <img src="{{ page.image }}">
    <hr>
    <svg viewBox="0 0 100 160" class="sub-svg">
        <text y="10" font-size="10" fill="#FFBD59" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-medium">MISERABLE? DEPRESSED? LOST HOPE?</text>
        <text y="18" font-size="8" fill="#5271FF" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-heavy">NO POINT IN ANYTHING</text>
        <text y="28" font-size="12" fill="#FF5757" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-light">IT'S TERRIBLE. GOTTA DO SOMETHING</text>
        <text y="34" font-size="6" fill="#7ed597" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-heavy">GOTTA SUBSCRIBE TO EVAN'S WRITING</text>
        <text y="47" font-size="16" fill="#FFBD59" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-light">NO WAY! THAT'S TOTAL GENIUS</text>
        <text y="56" font-size="10" fill="#5271FF" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-heavy">EMAIL NOTIFICATIONS OF NEW WRITING</text>
        <text y="64" font-size="8" fill="#FF5757" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-medium">WILL IT HELP ME TO FORGET MY TROUBLES?</text>
        <text y="74" font-size="11" fill="#FFBD59" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-light">NO WORRIES</text>
        <text y="85" font-size="12" fill="#5271FF" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-medium">WILL I GET CONSTANT SPAM BY SIGNING UP</text>
        <text y="93" font-size="7" fill="#FF5757" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-medium">YES MATE FOR SURE</text>
        <text y="103" font-size="10" fill="#7ed597" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-medium">WHY IS THIS FORM SO UGLY?</text>
        <text y="114" font-size="12" fill="#FFBD59" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-light">CAUSE CODING IS HARD</text>
        <text y="121" font-size="6" fill="#5271FF" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-medium">WILL MY EMAIL BE SECURE?</text>
        <text y="129" font-size="8" fill="#FF5757" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-heavy">THAT DEPENDS ON YOUR DEFINITION OF SECURE</text>
        <text y="135" font-size="6" fill="#7ed597" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-light">DO YOU RECKON I'M STILL GONNA BE MISERABLE AFTER SIGNING UP?</text>
        <text y="144" font-size="10" fill="#FFBD59" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-medium">I SHOULD THINK SO</text>
        <text y="157" font-size="16" fill="#5271FF" textLength="100" lengthAdjust="spacingAndGlyphs" class="subscribe-heavy">SOUNDS AMAZING!!</text>
    </svg>
</div>

<div class="form-container">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdNN58vdP7ZGXm0EbtSLjgP6WoXrRe_JAZbhhOxamptjaTc3A/viewform?embedded=true" width="100%" height="550" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>


<div class="return-button">
    <a href="{{ site.baseurl }}/">Return Home</a>
</div>

{% include comments.html %}
{% include foot.html %} 