---
title: Subscribe
description: Get bombarded with constant of the best writing in the world directly to your email
image: /resources/svg/subscribe.svg
order: [ 2, 4, 1, 3 ]
comment-demon: i aint signing up to no spam
comment-daisy: I love it! Can't wait to read your next story 
comment-goose: the form isnt working for me
comment-willis: I advise no one to sign up to this form. Your information will not be safe!
---
{% include head.html %}
{% include header.html %}
<div class="posts">
    <h1>{{ page.title }}</h1>
    <time>{{ "today" | date: "%B %-d, %Y" }}</time>
    <span class="description">{{ page.description }}</span>
    <img class="sub-img" src="{{ page.image }}">
    <hr>
</div>

<div class="form-container">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdNN58vdP7ZGXm0EbtSLjgP6WoXrRe_JAZbhhOxamptjaTc3A/viewform?embedded=true" width="100%" height="550" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>


<div class="return-button">
    <a href="{{ site.baseurl }}/">Return Home</a>
</div>

{% include comments.html %}
{% include foot.html %} 