<div class="comments">
    <h2>COMMENTS</h2>
    <hr>
    {% for i in page.order %}
        {% if i == 1 %}
        <div class="message">
            <img src="/resources/images/skull.jpg" alt="Demon of the Deep Profile">
            <div class="comment-text-container">
                <span class="name">Demon of the Deep</span>
                {{ page.comment-demon }}
            </div>         
        </div>
        {% elsif i == 2 %}
        <div class="message">
            <img src="/resources/images/daisy.jpg" alt="Daisy2021 Profile">
            <div class="comment-text-container">
                <span class="name">Daisy2021</span>
                {{ page.comment-daisy }}
            </div>
        </div>
        {% elsif i == 3 %}
        <div class="message">
            <img src="/resources/images/goose.jpg" alt="small goose Profile">
            <div class="comment-text-container">
                <span class="name">small goose</span>
                {{ page.comment-goose }}
            </div>
        </div>
        {% elsif i == 4 %}
        <div class="message">
            <img src="/resources/images/blank-profile.jpg" alt="Willis Profile">
            <div class="comment-text-container">
                <span class="name">Willis</span>
                {{ page.comment-willis }}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>


