<div class="feed">
    {% case page.url %}
    {% when "/fiction/" %}
        {% for post in site.categories.fiction %}
            <div class="item">
                <div class="image-container container-fiction">
                    <img src="{{ post.image | prepend: site.baseurl }}">
                </div>
                <div class="text-container">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                        <time>{{ post.date | date: "%B %-d, %Y" }}</time>
                        <p>{{ post.description }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}

    {% when "/non-fiction/" %}
        {% for post in site.categories.non-fiction %}
            <div class="item">
                <div class="image-container container-non-fiction">
                    <img src="{{ post.image | prepend: site.baseurl }}">
                </div>
                <div class="text-container">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                        <time>{{ post.date | date: "%B %-d, %Y" }}</time>
                        <p>{{ post.description }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% when "/non-non-fiction/" %}
        {% for post in site.categories.non-non-fiction %}
            <div class="item">
                <div class="image-container container-non-non-fiction">
                    <img src="{{ post.image | prepend: site.baseurl }}">
                </div>
                <div class="text-container">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                        <time>{{ post.date | date: "%B %-d, %Y" }}</time>
                        <p>{{ post.description }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% when "/food/" %}
        {% for post in site.categories.food %}
            <div class="item">
                <div class="image-container container-food">
                    <img src="{{ post.image | prepend: site.baseurl }}">
                </div>
                <div class="text-container">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                        <time>{{ post.date | date: "%B %-d, %Y" }}</time>
                        <p>{{ post.description }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for post in site.posts %}
        {% if post.category != "draft" %}
            <div class="item">
                <div class="image-container
                    {% if post.category == "fiction" %}container-fiction
                    {% elsif post.category == "non-fiction" %}container-non-fiction
                    {% elsif post.category == "non-non-fiction" %}container-non-non-fiction
                    {% elsif post.category == "food" %}container-food
                    {% endif %}">
                    <img src="{{ post.image | prepend: site.baseurl }}">
                </div>
                <div class="text-container">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                        <time>{{ post.date | date: "%B %-d, %Y" }}</time>
                        <p>{{ post.description }}</p>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endcase %}
</div>