<div class="banner">
    <a href="{{ site.baseurl }}/" {% if page.url contains "/fiction/" %}class="banner-fiction" {% elsif page.url
        contains "/non-fiction/" %}class="banner-non-fiction" {% elsif page.url contains "/websites/"
        %}class="banner-websites" {% elsif page.url contains "/food/" %}class="banner-food" {% else
        %}class="banner-home" {% endif %}>
        <h1>RAT NOTEBOOK</h1>
    </a>
</div>
<nav class="navigation">
    <a class="nav-item nav-fiction {% if page.url contains " /fiction/" %} nav-current {% endif %}"
        href="{{ site.baseurl }}/fiction/">
        <h2>FICTION</h2>
    </a>
    <a class="nav-item nav-non-fiction {% if page.url contains " /non-fiction/" %} nav-current {% endif %}"
        href="{{ site.baseurl }}/non-fiction">
        <h2>non-FICTION</h2>
    </a>
    <a class="nav-item nav-websites {% if page.url contains " /websites/" %} nav-current {% endif %}"
        href="{{ site.baseurl }}/websites">
        <h2>WEBSITES</h2>
    </a>
    <a class="nav-item nav-food {% if page.url contains " /food/" %} nav-current {% endif %}"
        href="{{ site.baseurl }}/food">
        <h2>FOOD</h2>
    </a>
</nav>